.mail-prev {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px #eceff1 solid;
    padding: 0.5em 2em;
    height: 3em;
    gap: 10px;


    &:hover {
        cursor: pointer;
        box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.3);
        border-bottom: 1px rgb(164, 163, 163) solid;

        .preview-btns {
            display: flex;
            width: 5vw;
            justify-content: center;

            :hover {
                font-size: 1.2em;
            }
        }

        .date {
            display: none;
        }
    }

    h3.body {
        font-weight: normal !important;
    }

    button {
        border: 0;
        background-color: transparent;
    }

    &.read {
        background-color: var(--mail-color-1);

        .subject,
        .from,
        .date {
            font-weight: normal
        }
    }

    .fa-regular.fa-star,
    .fa-solid.fa-star {
        font-size: 1.3em;
    }

    .starred {
        color: #fbbd04;
    }
}