 .filter-container {


     form {
         background-color: var(--mail-color-1);
     }

     input[type="text"] {
         height: 4em;
         border-radius: 37px;
         padding: 20px;
         border: 0;
         background-color: #e9eef6;
         width: 100%;
     }
 }




 .radio-container {
     
     gap: 10px;


     label:has(input[type="radio"]:checked) {
         font-weight: bold;
     }

     input[type="radio"] {
         width: 0;
         height: 0;
     }

     label:hover {
         cursor: pointer;
     }
 }