 .filter-container {
     grid-column: 2;


     form {
         padding: 5px;
         background-color: var(--mail-color-1);
         display: flex;
         gap: 20px;
         align-items: center;
     }

     input[type="text"] {
         height: 4em;
         border-radius: 37px;
         padding: 20px;
         border: 0;
         background-color: #e9eef6;
         width: 60%;
     }

     input[type="radio"] {
         width: 0;
         height: 0;
     }


     label:hover {
         cursor: pointer;
     }

     .radio-container {
         gap: 10px;
     }

     label:has(input[type="radio"]:checked) {
         font-weight: bold;
     }
 }