.mail-prev {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px #eceff1 solid;
    padding: 0.5em;
    height: 3em;



    &:hover {
        cursor: pointer;
        box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.3);
        border-bottom: 1px rgb(164, 163, 163) solid;
    }

    button {
        border: 0;
        background-color: transparent;


    }

}

.read {
    background-color: var(--mail-color-1);

    h3 {
        font-weight: normal
    }
}