.mail-header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column: 1 /span 2;
    background-color: var(--mail-color-1);
    align-items: center;
    border-radius: 5px;
   

    .mail-logo {
        justify-self: center;
        font-size: 2.5rem;
        font-weight: 700;
        color: #425a7f;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 15px; 
    }

    .fa-envelope{
        font-size: 2rem;
    }
}
