.mail-header {
    display: grid;
    background-color: var(--mail-color-1);
    align-items: center;
    border-radius: 5px;



    .mail-logo {
        justify-self: center;
        font-size: 2.5rem;
        font-weight: 700;
        color: #425a7f;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 15px;

        .fa-envelope {
            font-size: 2rem;
        }
    }


    .sort-by-container {
        padding: 20px;

        select {
            border-radius: 37px;
            background-color: transparent;
            padding: 5px;
            border-color: #747775;
            color: #747775;

        }
    }

}