.mail-header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column: 1 /span 2;
    background-color: var(--mail-color-1);
    align-items: center;
    border-radius: 5px;


    .mail-logo {
        justify-self: center;
        font-size: 2.5rem;
        font-weight: 700;
        color: #425a7f;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 15px;
    }

    .sort-by-container {
        grid-column: 3;
        padding: 30px;

        select {
            border-radius: 37px;
            background-color: transparent;
            padding: 5px;
            border-color: #747775;
            color: #747775;;

        }
    }



    .fa-envelope {
        font-size: 2rem;
    }
}