.mail-prev {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px #eceff1 solid;
    padding: 0.5em;
    height: 3em;
    gap: 10px;

    .date {
        white-space: nowrap;
    }

    .body {
        width: 30vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .from {
        width: 20vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .subject {
        width: 10vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &:hover {
        cursor: pointer;
        box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.3);
        border-bottom: 1px rgb(164, 163, 163) solid;
    }

    button {
        border: 0;
        background-color: transparent;
    }
}

.read {
    background-color: var(--mail-color-1);

    h3 {
        font-weight: normal
    }
}