.side-bar {
    display: grid;
    grid-row: 2 /span 5;
    align-content: start;
    background-color: var(--mail-color-2);
    height: 100vh;
    width: 100%;

    .btn {
        display: flex;
        align-self: start;
        background-color: transparent;
        border-top-right-radius: 37px;
        border-bottom-right-radius: 37px;
        border: 0;
        justify-self: center;
        padding: 20px;
        margin-bottom: 5px;
        width: 100%;
        justify-content: start;
        padding: 10px 20px;
        transition: background-color 0.15s ease-in-out;
        gap: 30px;
        font-size: 1em;

        &:hover {
            cursor: pointer;
            background-color: #e6e6e6;
        }

        &.active {
            background-color: #d3e3fd;
            font-weight: bold;
        }
    }

    .compose-btn {
        justify-self: start;
        display: flex;
        justify-content: space-evenly;
        background-color: #c1e7ff;
        padding: 20px 10px;
        width: 150px;
        border: 0;
        border-radius: 15px;
        grid-row: 1;
        margin: 5px;
        margin-bottom: 20px;
        font-size: 1em;
        transition: box-shadow 0.3s;

        &:hover {
            box-shadow: 1px 5px 10px 2px rgba(0, 0, 0, 0.2);
        }

        .fa-pen {
            font-size: 1.3em;
        }
    }
}


