@media (max-width: 800px) {
    .main-container {
        grid-template-columns: auto;

        >* {
            grid-column: 1;
        }
    }

    .mail-list {
        grid-column: 1;
    }

    .mail-prev {
        .date {
            white-space: nowrap;
            width: 10vw;
            font-size: 0.8em;
        }
        .body {
            width: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }


        .from {
            width: 40vw;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .subject {
            width: 50vw;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    }

    .mail-header {
        display: grid;
        grid-template-columns: auto 1fr;

        background-color: var(--mail-color-1);
        align-items: center;
        border-radius: 5px;

        >* {
            grid-row: 2;
        }

        .mail-logo {
            grid-row: 1;
            grid-column: 1/span 2;
        }

        .sort-by-container {
            grid-column: 2;
        }

        .filter-container {
            grid-column: 1;
            display: grid;
            grid-template-columns: auto 1fr;
        }

        input[type="radio"] {
            display: grid;
        }
    }
}


@media (min-width: 800px) {
    .side-bar {
        position: static !important;
        transform: none !important;
        width: 100%;
        height: 100vh;
        display: grid;
        grid-row: 2 / span 5;
        align-content: start;
        z-index: auto;

        &.open {
            transform: none !important;
        }
    }

    .sidebar-hamburger{
        display: none;
    }

    .main-container {
        display: grid;
        grid-template-columns: 180px auto;
    }

    .mail-header {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-column: 1 /span 2;

        .sort-by-container {
            grid-column: 3;
        }

        .fa-envelope {
            font-size: 2rem;
        }

        .mail-list {
            display: grid;
            grid-row: 2;
            grid-column: 2;
        }

    }

    .mail-prev {
        gap: 10px;

        .date {
            width: 5vw;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 0.7em;
        }

        .body {
            width: 30vw;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .from {
            width: 20vw;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .subject {
            width: 10vw;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }


}