@media (max-width: 800px) {
    .main-container {
        grid-template-columns: auto;

        >* {
            grid-column: 1;
        }
    }

    .mail-list {
        grid-column: 1;
    }

    .mail-prev {
        .date {
            width: 10vw;
            font-size: 0.8em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .body {
            width: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }


        .from {
            width: 40vw;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .subject {
            width: 50vw;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }


    }

    .mail-header {
        display: grid;
        grid-template-columns: auto 1fr 100px;
        grid-template-columns: minmax(180px, auto) 1fr 100px;

        background-color: var(--mail-color-1);
        align-items: center;
        border-radius: 5px;


        .mail-logo {
            grid-column: 1;
            justify-self: start;
        }

        .sidebar-hamburger {
            grid-column: 3;
            grid-row: 2;
            justify-self: center;
            border-radius: 50%;
            width: 50px;
            padding: 10px;
            font-size: 1em;
            border: 0;
            background-color: transparent;

            &:hover {
                background-color: #e9eef6;
            }
        }

        .radio-container {
            grid-column: 2;
        }

        .sort-by-container {
            grid-column: 1;
            grid-row: 2;
        }

        .filter-container {
            grid-column: 2;
            display: grid;
        }
    }
}


@media (min-width: 800px) {
    .side-bar {
        position: static !important;
        transform: none !important;
        width: 100%;
        height: 100vh;
        display: grid;
        grid-row: 2 / span 5;
        align-content: start;
        z-index: auto;

        &.open {
            transform: none !important;
        }
    }

    .sidebar-hamburger {
        display: none;
    }

    .main-container {
        display: grid;
        grid-template-columns: 180px auto;
    }

    .radio-container {
        padding: 5px;
    }

    .mail-header {
        display: grid;
        grid-template-columns: 180px 1fr auto auto;
        justify-content: space-between;
        grid-auto-flow: column;
        grid-column: 1 /span 2;

        .fa-envelope {
            font-size: 2rem;
        }

    }

    .mail-list {
        display: grid;
        grid-row: 2;
        grid-column: 2;
    }

    .mail-prev {
        gap: 10px;

        .date {
            width: 5vw;
            white-space: normal;
            overflow: visible;
            text-overflow: clip;
            font-size: 0.7em;
        }

        .body {
            width: 30vw;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .from {
            width: 20vw;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .subject {
            width: 10vw;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .mail-display {
        .subject {
            grid-column: 1 !important;
        }

        .date {
            grid-column: 2 !important;
            grid-row: 1 !important;
        }


    }
}