/* note list */

.note-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  column-width: 220px;
  column-gap: 22px;
  max-width: 1800px;
}

.note-list li {
  break-inside: avoid;
  margin-bottom: 22px;
}

@media (max-width: 1400px) {
  .note-list {
    columns: 4 240px;
  }
}

@media (max-width: 1100px) {
  .note-list {
    columns: 3 240px;
  }
}

@media (max-width: 800px) {
  .note-list {
    columns: 2 240px;
  }
}

@media (max-width: 500px) {
  .note-list {
    columns: 1 240px;
  }
}
