 /* mail index  */


 .main-container {
     display: grid;
     grid-template-columns: 70px auto;
     padding: 20px;
     gap: 10px;

 }


 .filter-container {
     grid-column: 2;
 }

 form {
     padding: 20px;
 }