

.mail-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 30px 20px 1fr 20px;
    align-self: center;
    justify-self: center;
    width: 80vw;
    height: 50vh;
    /* justify-content: start; */
    align-content: start;
   


    >* {
        grid-column: 1;
    }

    .date {
        grid-column: 2;
        grid-row: 1;
        align-self: center;
        justify-self: end;
    }

    p{
        background-color: var(--mail-color-1)
    }

    .body {
        grid-column: span 2;
    }


    .mail-details-nav {
        grid-column: 2;
        justify-self: end;
    }

}