 /* home */

 .home {
     margin: 20px;
     font-size: 1.5em;
     padding: 20px;

     li {
         margin: 10px;
     }

     span {
         color: var(--main-bg-color);

     }
 }



 .apps-menu {
     display: grid;
     grid-auto-flow: column;
     justify-content: center;
     gap: 50px;

     .mail-logo {
         justify-self: center;

         font-size: 2.5rem;
         font-weight: 700;
         color: #425a7f;
         display: flex;
         align-items: center;
         gap: 0.5rem;
         padding: 15px;
     }

     .note-logo {
         justify-self: center;
         /* font-family: poppins, sans-serif; */
         font-size: 2.5rem;
         font-weight: 700;
         color: #425a7f;
         display: flex;
         align-items: center;
         gap: 0.5rem;
         padding: 15px;
     }

     .note-logo:hover,
     .mail-logo:hover {
         cursor: pointer;
         box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.8);
         border-radius: 10px;

     }
 }