.app-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: var(--main-bg-color);
    border-bottom: 2px solid white;

    min-height: 80px;
    align-items: center;
    border-radius: 5px;

    font-size: 1.2em;

}

nav a {
    margin: .5em;
}



nav a.active {
    color: aliceblue;
    font-weight: bold;
    text-decoration: underline;
}

.main-logo {
    color: aliceblue;
    font-size: 3em;
}