.app-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--main-bg-color);
    border-bottom: 2px solid white;
    position: relative;
    min-height: 80px;
    align-items: center;
    border-radius: 5px;

    font-size: 1.2em;

    .main-logo {
        color: aliceblue;
        font-size: 3em;
    }

    .nav-list {
        position: absolute;
        top: 100%;
        right: 0;
        min-width: 20vw;
        background-color: white;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        flex-direction: column;
        z-index: 10;

    }

    .nav-list a {
        display: block;
        padding: 16px 24px;
        border-bottom: 1px solid #f1f3f4;
        text-decoration: none;
        color: #202124;
        font-weight: 500;
    }

    .nav-list a:hover {
        background-color: #e6e6e6;
    }

    .nav-list a.active {
        background-color: #d3e3fd;
        color: #0b57d0;
    }

    .header-hamburger {
        border-radius: 50%;
        width: 50px;
        padding: 10px;
        font-size: 1em;
        border: 0;
        background-color: transparent;

        &:hover {
            background-color: #e9eef6;
        }
    }
}